@model Atlas_frontend.Models.CompteModel

@{
    ViewData["Title"] = "Details compte";
}

<h1>Détails Compte</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Roles)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Roles != null)
            {
                @foreach (RoleModel role in Model.Roles)
                {
                    <span class="badge badge-pill badge-success">@role.Libelle</span>
                }
            }
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-sm btn-warning" })
    <hr />
    <a asp-action="Index">Retour à la liste d'utilisateurs</a>
</div>
