@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<CustomRapportModel> lstRapportEquipe = ViewBag.lstRapportEquipe;

}
<style>
    .hiddenElement {
        display: none;
    }
</style>
@foreach (CustomRapportModel custom in lstRapportEquipe)
{
    <div class="card">
        <div class="card-header">
            Rapport @custom.user.Nom @custom.user.Prenom
        </div>
        <div class="card-body">


            <h2>
            </h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Projet</th>
                        <th scope="col">Rubrique</th>
                        <th scope="col">Lundi</th>
                        <th scope="col">Mardi</th>
                        <th scope="col">Mercredi</th>
                        <th scope="col">Jeudi</th>
                        <th scope="col">Vendredi</th>
                    </tr>
                </thead>
                <tbody>
                <tbody class="tabbody">
                    <tr class="TabActivite hiddenElement">
                        <td id="nameProjet" data-element="test">Test</td>
                        <td id="nameRubrique" data-element="test">Test</td>
                        <td><input class="input_duree input_duree_lundi" type="number" name="DureeLundi" value="0" style="width: 100px;" /></td>
                        <td><input class="input_duree input_duree_mardi" type="number" name="DureeMardi" value="0" style="width: 100px;" /></td>
                        <td><input class="input_duree input_duree_mercredi" type="number" name="DureeMercredi" value="0" style="width: 100px;" /></td>
                        <td><input class="input_duree input_duree_jeudi" type="number" name="DureeJeudi" value="0" style="width: 100px;" /></td>
                        <td><input class="input_duree input_duree_vendredi" type="number" name="DureeVendredi" value="0" style="width: 100px;" /></td>

                    </tr>

                  @foreach (RapportModel rapport in custom.rapport)
                  {
                    <tr class="TabActivite">
                        <td id="nameProjet" data-element='@Html.Raw(@Newtonsoft.Json.JsonConvert.SerializeObject(rapport.Rubrique.Projet))'>@rapport.Rubrique.Projet.Titre</td>
                        <td id="nameRubrique" data-element='@Html.Raw(@Newtonsoft.Json.JsonConvert.SerializeObject(rapport.Rubrique))'>@rapport.Rubrique.Titre</td>
                        <td><input class="input_duree input_duree_lundi" type="number" name="DureeLundi" value="@rapport.LundiDuree" style="width: 100px;" disabled /></td>
                        <td><input class="input_duree input_duree_mardi" type="number" name="DureeMardi" value="@rapport.MardiDuree" style="width: 100px;" disabled /></td>
                        <td><input class="input_duree input_duree_mercredi" type="number" name="DureeMercredi" value="@rapport.MercrediDuree" style="width: 100px;" disabled /></td>
                        <td><input class="input_duree input_duree_jeudi" type="number" name="DureeJeudi" value="@rapport.JeudiDuree" style="width: 100px;" disabled /></td>
                        <td><input class="input_duree input_duree_vendredi" type="number" name="DureeVendredi" value="@rapport.VendrediDuree" style="width: 100px;" disabled /></td>

                    </tr>

                  }
                </tbody>
            </table>
           <button>Valider</button>


            <div id="error">

            </div>

        </div>
    </div>

}
@section Scripts {
    <script>
        updateTotal();

        function updateTotal() {
            var lundi = 0,
                mardi = 0,
                mercredi = 0,
                jeudi = 0,
                vendredi = 0;
            $('.input_duree_lundi').each(function (e) {
                lundi += parseInt($(this).val());
            });
            $('.input_duree_mardi').each(function (e) {
                mardi += parseInt($(this).val());
            });
            $('.input_duree_mercredi').each(function (e) {
                mercredi += parseInt($(this).val());
            });
            $('.input_duree_jeudi').each(function (e) {
                jeudi += parseInt($(this).val());
            });
            $('.input_duree_vendredi').each(function (e) {
                vendredi += parseInt($(this).val());
            });
            $('#DureeLundiTotal').val(lundi);
            changeBackgroundColor($('#DureeLundiTotal'), lundi);
            $('#DureeMardiTotal').val(mardi);
            changeBackgroundColor($('#DureeMardiTotal'), mardi);
            $('#DureeMercrediTotal').val(mercredi);
            changeBackgroundColor($('#DureeMercrediTotal'), mercredi);
            $('#DureeJeudiTotal').val(jeudi);
            changeBackgroundColor($('#DureeJeudiTotal'), jeudi);
            $('#DureeVendrediTotal').val(vendredi);
            changeBackgroundColor($('#DureeVendrediTotal'), vendredi);

        }
        function changeBackgroundColor(element, val) {
            if (val < 8) {
                element.css('background-color', 'yellow');
            }
            else if (val == 8) {
                element.css('background-color', 'lightgreen');
            }
            else {
                element.css('background-color', 'red');
            }
        }



    </script>

}